#background{

min-height: 1050px;
width: 100%;
    
}
#top{
height: 35px;
width: 100%;
background:#02264f;
line-height: 35px;
padding: 0px 20px 9px 100px;
box-sizing: border-box;
word-spacing:10px ;
}
#top a{
    margin-top: 0px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
#menu{
height: 65px;
width: 100%;
background:green;
    
}
#logo{
height: 65px;
width: 40%;
background:white;
text-align: center;
line-height: 65px;
font-size: 40px;
float: left;
}
#logo h4{
    margin-top: 0px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
#menu1{
height: 65px;
width: 60%;
background:white;
float: left;
    
}
#menu1 UL{
list-style: none;
padding-left: 200px;
box-sizing: border-box;
    
}
#menu1 LI{
height: 45px;
width: 130px;
font-weight: bolder;
text-align: center ; 
display: inline-block; 
line-height: 45px;
transform: translateY(-5px);
color: black;
font-size: 20px;
    
}
#menu1 LI:hover{
background: #02264f;  
color: white; 
transition: all ease 1s;
border-radius: 3px;
}
    
#slider{
height:640px;
width: 100%;
background:url(register_img.jpg);
background-size: cover;
background-attachment: fixed;
}
   
#x{
height:640px;
width: 40%;
background:rgba(0,0,0, .4); 
float: left;
font-size: 41PX;
color: white;
text-align: center;
padding-top: 250px;
box-sizing: border-box;
}
#x h4{
    margin-top: 0px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}
#x p{
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}
#y{
height:640px;
width: 60%;
background:rgba(0,0,0, .4); 
float: left;
}
    
#l{
height:450px;
width: 60%;
background:rgba(255,255,255, .6); 
float: left; 
margin: 90px;
border-radius: 7px ;
opacity: 0;
animation: slideBottom 1s ease forwards;
animation-delay: 1s;
}
#l:hover{
background:linear-gradient(90deg,#02264f,white);
}
    
#student{
margin:50px 50px;
color:blue;
}
#Teacher{
margin:50px 50px;
color:white;
}
.t{
height: 40px;
width: 100%;
border: 2px solid #02264f;
border-radius: 10px;
box-sizing: border-box;
margin-bottom: 15px;
font-weight: bolder;
font-size: 15px;
margin: 6px;
padding: 10px;

}
#down{
height: 300px;
width: 100%;
margin-top: 10px;
background:#02264f;
text-align: center;
padding-top: 10px;
color: white;
}
.footer{
    height: 30px;
    width: 100%;
    background: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 12px;
}
.footer2{
    height: 30px;
    width: 100%;
    background:black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}